%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-facebook:before {
	content: "\e905";
}
._icon-fb-f:before {
	content: "\e904";
}
._icon-twitt:before {
	content: "\e90b";
}
._icon-twitter:before {
	content: "\e90a";
}
._icon-google:before {
	content: "\e908";
}
._icon-fb:before {
	content: "\e906";
}
._icon-goog:before {
	content: "\e907";
}
._icon-tw:before {
	content: "\e909";
}
