//====================================================================================================
.footer {
	@include adaptiveValue("padding-top", 22, 15);
	@include adaptiveValue("padding-bottom", 22, 15);
	color: #ffffff;
	background: #171819; 
	// .footer__container
	&__container {
		display: flex;
		text-align: center;
	}
	// .footer__text
	&__text {
		display: flex;
		font-size: rem(11);
		line-height: math.div(13, 11);
		margin: 0 auto;
		justify-content: center;
	}
}

//====================================================================================================
