//====================================================================================================
.header {
	// .header__foto
	&__foto {
		position: relative;
	}
	&__logo {
		position: absolute;
		width: 100%;
	}
	// .header__image
	&__bg {
		width: 100%;
	}
	// .header__text
	&__text {
		text-align: center;
		position: absolute;
		max-width: rem(825);
		color: $white;
		width: 100%;
		left: 50%;
		top: 83.5%;
		transform: translate(-50%, -83.5%);
		@include adaptiveValue("top", 83.5, 20%);
	}
	// .header__title
	&__title {
		font-family: "Abhaya Libre";
		line-height: math.div(71, 60);
		letter-spacing: rem(5.70937);
		@include adaptiveValue("font-size", 60, 26);
	}
	&__desc {
		font-size: rem(16);
		line-height: math.div(19, 16);
		@include adaptiveValue("margin-bottom", 220, 15);
		@include adaptiveValue("font-size", 16, 10);
	}
	&__down {
		font-size: rem(11);
		line-height: math.div(13, 11);
		letter-spacing: rem(3.7);
		text-transform: uppercase;
	}
}

.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img{display: none;}
}
//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
