//====================================================================================================
/*========= start about ================================*/
.about {
	background-color: $sait;
	@include adaptiveValue("padding-top", 58, 30);
	@include adaptiveValue("padding-bottom", 58, 30);
	&__container {
	}
	// .story__body
	&__body {
	}
	&__title {
		position: relative;
		text-align: center;
		@include adaptiveValue("margin-bottom", 80, 40);
		&:after {
			content: "";
			width: rem(50);
			height: rem(2);
			background-color: #00a4e5;
			position: absolute;
			left: 50%;
			margin: 0 0 rem(-10) rem(-25);
			bottom: 0;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$mobile){
			display: block; 
		}
	}
	&__column {
		color: #48555B;
		letter-spacing: rem(0.1875);
		// .story__column_info
		&_info {
			flex: 0 1 43.08%;
			@media (max-width:$mobile){
				flex: 1 1 100%; 
			}
		}
		// .story__column_image
		&_gallery {
			flex: 0 1 48.94%;
			@media (max-width:$mobile){
				flex: 1 1 100%; 
			}
		}
	}
		// .story__column-title
	&__column-title {
			font-size: rem(20);
			line-height: math.div(23, 20);
			@include adaptiveValue("margin-bottom", 30, 15);
			font-weight: 700;
			span {
				color: $blue;
			}
		}
	// .story__column-text
	&__column-text {
		line-height: math.div(23, 13);
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 13, 16);
			@include adaptiveValue("line-height", 23, 20);
			@include adaptiveValue("margin-bottom", 30, 30);
		}
	}
}

.gallery {
	// .gallery__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-10);
		align-items: center;
	}
	// .gallery__column
	&__column {
		flex: 0 1 33.333%;
		padding: 0;
		position: relative;
		padding: 0 rem(10);
		gap: rem(20);
		padding-bottom: rem(20); 
		@media (max-width:$mobile){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 50%;
		}
		@media (max-width:$mobileSmall){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 100%; 
		}		
	}
	// .gallery__block
	&__block {
	}
}

.block-works {
	position: relative;
	width: 100%;
	text-align: center;
	// .block-works__image
	&__image {
		width: 100%;
	}
	// .block-works__middle
	&__middle {
		max-width: rem(108);
		@include adaptiveValue("width", 108, 10);
		position: absolute;
		top: rem(15);
		left: rem(14);
		text-align: start;
	}
	// .block-works__title
	&__title {
		color: #fff;
		@include adaptiveValue("font-size", 24, 5);
		line-height: math.div(29, 24);
		font-weight: 600;
		letter-spacing: rem(0.1875);
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 54, 27);
		}
		@media (max-width:$mobileSmall){
			@include adaptiveValue("font-size", 54, 54);
		}
	}
}
/*========= finish about ================================*/
//========================================================================
/*========= start services ================================*/
.sevices {
	background-color: $sait;
	@include adaptiveValue("padding-top", 60, 30);
	@include adaptiveValue("padding-bottom", 40, 30);
	// .sevices__container
	&__container {
	}
	// .sevices__content
	&__content {
	}
	// .sevices__begins
	&__begins {
		
		@include adaptiveValue("margin-bottom", 78, 40);
	}
	// .sevices__body
	&__body {
		// .sevices__body_card
		&_card {
		}
	}
}

.begins {
	display: flex;
	color: #48555B;
	align-items: center;
	text-align: start;
	justify-content:space-between;
	@media (max-width:$mobileSmall){
		display: block;
		.begins__title {
			margin-bottom: rem(30);
		}
		.begins__desc {
			margin-bottom: rem(20);
		}
	}
	// .begins__title
	&__title {
		@include adaptiveValue("margin-right", 154, 0);
		&:after {
			content: "";
			width: rem(50);
			height: rem(2);
			background-color: $blue; // Цвет шрифта по умолчанию
			position: absolute;
			left: 0;
			margin: 0 0 rem(-10) rem(0);
			bottom: 0;
		}
	}
	// .begins__desc
	&__desc {
	//margin: 0 auto;
	max-width: rem(405);
	font-size: rem(11);
	line-height: math.div(19, 11);
	letter-spacing: rem(0.2);
	@include adaptiveValue("margin-right", 30, 20);
	}
	// .begins__button
	&__button {	
	}
}

.card {
	// .card__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-13.5);
	}
	// .card__column
	// .sevices__column
	&__column {
		position: relative;
		padding: 0 13.5px;
		flex: 0 1 33.333%; /*запрещаем увеличиваться, разрешем уменьшаться, устанвливаем одинаковую ширину*/
		display: flex; /*колонки становятся одинаковые по высоте - по самой высокой*/
		padding-bottom: rem(20); 
		@media (max-width:$mobile){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 50%;
		}
		@media (max-width:$mobileSmall){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 100%; 
		}
	}
	// .sevices__item
	&__item {
		display: block;
		box-sizing: border-box;
		margin: 0 auto;
		background: #FFFFFF;
		border: 1px solid #E6E6E6;
		color: #48555B;
		padding: rem(38) rem(22);
	}
	// .sevices__icon
	&__icon {
		max-width: rem(62);
		max-height: rem(71);
		margin-bottom: rem(25);
		display: flex;
		text-align: center;
		justify-content: center;
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .sevices__subtitle
	&__subtitle {
		font-size: rem(16);
		line-height: math.div(24, 16);
		letter-spacing: rem(0.426667);
		font-weight: 700;
		margin-bottom: rem(13);
	}
	// .sevices__text
	&__text {
		flex: 1 1 auto; /*чтобы прибить кнопку к низу позволим блоку с текстом увеличиваться*/
		font-size: rem(13);
		line-height: math.div(23, 16);
		letter-spacing: rem(0.1875);
	}
}
/*========= finish services ================================*/
//======================================================================
/*========= start contact ================================*/
.contact {
	position: relative;
	margin: 0 auto;
	// .contact__foto
	&__foto {
		position: relative;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		position: relative;
		background-repeat: no-repeat;
		text-align: center;
	}
	// .contact__image
	&__image {
		width: 100%;
	}
	// .contact__text
	&__text {
		position: absolute;
		max-width: rem(350);
		width: 100%;
		left: 50%;
		top: 35%;
		transform: translate(-50%, -35%);
		@include adaptiveValue("top", 35%, 15%);
	}
	// .contact__title
	&__title {
		text-align: center;
		font-weight: 700;
		color: $colorblack;
		//margin-bottom: rem(55);
		line-height: math.div(36, 30);
		letter-spacing: 0.05em;
		@include adaptiveValue("font-size", 30, 18);
		margin-bottom: rem(35);
		@include adaptiveValue("margin-bottom", 35, 10);
	}
	// .contact__buttons
	&__buttons {
	}
	// .contact__button
	&__button {
		display: inline-block;
		font-size: rem(13);
		line-height: math.div(15, 13);
		letter-spacing: 0.5px;
		color: $white;
		background-color: $blue;
		padding: rem(11) rem(29);
		border: rem(1) solid $blue;
		transition: background-color 0.3s ease 0s;
		&:hover {
			background-color: #04b7fe;
			font-weight: 500;
		}
		@include adaptiveValue("font-size", 20, 10);
		@media (max-width: $mobileSmall) {
		}
	}
}
/*========= finish services ================================*/
//===============================================================
/*========= start info ================================*/
.info {
	color: $white;
	background: $saitBottom;
	@include adaptiveValue("padding-bottom", 50, 25);
	// .footer__container
	&__container {
	}
	// .info__form
	&__form {
		@include adaptiveValue("margin-bottom", 71, 35);
	}
	// .footer__row
	&__row {
		display: flex;
	}
	// .footer__company
	&__company {
		flex: 0 1 math.div(940, 250);
		width: 100%;
		max-width: rem(250);
		@include adaptiveValue("margin-right", 71, -30);
	}
	// .footer__links
	&__links {
		flex: 0 1 math.div(940, 262);
		width: 100%;
		max-width: rem(262);
		@include adaptiveValue("margin-right", 58, -20);
	}
	// .footer__contact
	&__contact {
		flex: 0 1 math.div(940, 141);
		width: 100%;
		max-width: rem(141);		
		@include adaptiveValue("margin-right", 46, -20);
		@include adaptiveValue("max-width", 141, 100);
	}
	// .footer__social
	&__social {
		flex: 0 1 auto;
		width: 100%;
		max-width: rem(100);
		@include adaptiveValue("max-width", 100, 20);
		@media (max-width:$tablet){
			//max-width: rem(25);
			//text-align: center;
		}
	}
	&__bottom {
		text-align: center;
	}
	&__text {
		font-size: rem(11);
		line-height: math.div(13, 11);
		letter-spacing: rem(0.846154);
	}
}
//+++++++++++++++++++++
.form * { 
	outline: none;
}
.form {
	//@at-root: center;
	// .form__body
	&__body {
		@include adaptiveValue("padding-top", 30, 15);
		@include adaptiveValue("padding-bottom", 30, 15);
		display: flex;
		align-items: center;
		justify-content: center;		
	}
	// .form__item
	&__item {
	}
	// .form__text
	&__text {
		font-size: rem(22);
		line-height: math.div(16, 22);
		letter-spacing: 0.846154px;
		@include adaptiveValue("margin-right", 70, 10);
	}
	// .form__input
	&__input {
		font-size: rem(14);
		line-height: math.div(16, 16);
		letter-spacing: rem(0.07);
		height: rem(40);
		padding-left: rem(16);
		width: rem(250);
		transition: all 0.5s ease 0s;
		&:focus {
			box-shadow: 0 0 15px #7a956b;
		}
	}
	&__input._error { // уточнить почему не работает
		//box-shadow: 0 0 15px red;
	}
	// .form__button
	&__button {
		font-size: rem(13);
		line-height: math.div(15, 13);
		letter-spacing: 0.5px;
		padding: rem(11) rem(49);
		height: rem(40);
		text-transform: uppercase;
		border: none;
	}
}
//++++++++++++++++
.company {
	// .company__title
	&__subtitle {
	}
	// .company__logo
	&__logo {
		position: relative;
		//height: rem(55);
		width: 100%;
		img {
			height: rem(23);
			margin-bottom: rem(19);
		}
	}
	// .company__text
	&__text {
		font-size: rem(11);
		line-height: math.div(19, 11);
		letter-spacing: 0.85px;
	}
}
//+++++++++++++++
.links {
	font-size: rem(11);
	line-height: math.div(25, 11);
	letter-spacing: rem(0.846154);
	// .links__row
	&__row {
		display: flex;
		justify-content: space-between;
	}
	// .links__item
	&__item {
	}
}
//+++++++++++++++
.contact {
	font-size: rem(11);
	line-height: math.div(16, 11);
	letter-spacing: rem(0.846154);
	// .contact__subtitle
	&__subtitle {
	}
	// .contact__address
	&__address {
		@include adaptiveValue("margin-bottom", 20, 10);
	}
	// .contact__tel
	&__tel {
		@include adaptiveValue("margin-bottom", 24, 12);
	}
	// .contact__mail
	&__mail {		
	}
}
//++++++++++++++++
.social {
	&__subtitle {
		color: $saitBottom;
	}
	// .social__row
	&__row {
		display: flex;
		justify-content: space-between;	
		flex-wrap: wrap;
		//@include adaptiveValue("gap", 24, 10);
		@media (max-width:$tablet){
			//display: block;
		}	
	}
	// .social__item
	&__item {
		@media (max-width:$tablet){
			margin-bottom: rem(15);
		}
	}
	// .social__column
	&__logo {
		position: relative;
		//height: rem(55);
		width: 100%;
		img {
			height: rem(12);
			margin-bottom: rem(12);
		}
	}
}

/*========= finish info ================================*/