.navig {
	background: #ffffff;
	@include adaptiveValue("padding-top", 24, 20);
	@include adaptiveValue("padding-bottom", 23, 20);
	border: 1px solid #E6E6E6;
	//position: fixed;
	//top: 0;
	//left: 0;
	width: 100%;
	z-index: 10;
	// .header__container
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		//border: 1px solid green;
	}
	// .header__content
	&__content {
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 5;
		width: rem(80);
		height: rem(18);
		//@include adaptiveValue("margin-right", 25, 0);
	}
	// .header__menu
	&__menu {
		//border: 1px solid rgb(255, 0, 255);
		//@include adaptiveValue("margin-right", 80, 50);
		justify-content: flex-end;
		//flex: 0 1 auto;
	}
}

.menu {
	flex: 1 1 auto;
	// .menu__icon
	&__icon {
		//чтобы заработало бургер, скроем menu icon
		display: none;
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		justify-content: flex-end;
		> li {
			position: relative;
			@include adaptiveValue("margin-left", 40, 20); // отступы между словами
		}
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			> li {
				// эти отступы сверху/снизу расширяют область наведения мыши
				padding: rem(10) 0;
			}
		}
	}
	// .menu__link
	&__link {
		font-size: rem(12);
		line-height: math.div(14, 12);
		letter-spacing: 1.09091px;
		text-transform: uppercase;
		color: $colorblack;
		&:hover {
			text-decoration: underline;
			color: $blue;
			font-weight: 700;
		}
	}
}
//========================================================================================================================================================
// меню бургер будет создаваться только при этой ширине $mobile
//==============================================================
@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		z-index: 5;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		span,
		&::before,
		&::after { // сам бургер
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			// добавляем среднюю полоску
			top: 50%;
			transform: scale(1) translate(0, -50%);
			//top: calc(50% - rem(1)); // заменяет эти две записи
		}
	}

	.menu__icon._active span {
		// убираем среднюю полоску при классе _active
		transform: scale(0) translate(0, -50%);
	}

	.menu__icon._active::before {
		// поворачиваем верхнюю полоску при классе _active
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}

	.menu__icon._active::after {
		// поворачиваем нижнюю полоску при классе _active
		bottom: 50%;
		transform: rotate(45deg) translate(0, 50%);
	}

	// по идее сверху это закоментированный код бургера
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		color: #000;
		background-color: rgba(255, 255, 255, 1);
		padding: rem(200) rem(30) rem(30) rem(30);
		text-align: center;
		transition: left 0.3s ease 0s; // убираем за экран влево
		overflow: auto; // обязательно добавить, чтобы появлялся скролл, если меню не будет помещаться на экране
	}

	.menu__body._active {
		left: 0%;
	}

	.menu__body::before {
		// чтобы меню уходило под плашку header
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: rem(65);
		//background-color: #912105;
		z-index: 2;
	}

	.menu__list > li {
		margin: 0 0 rem(40) 0; // когда открыто меню при включеном бургере
		:last-child {
			margin-bottom: 0;
		}
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: rem(30);
	}
}

//===================================================================
//===========================================================================
//====================================================================================================
/*========= start about ================================*/
.about {
	background-color: $sait;
	@include adaptiveValue("padding-top", 58, 30);
	@include adaptiveValue("padding-bottom", 58, 30);
	&__container {
	}
	// .story__body
	&__body {
	}
	&__title {
		text-align: center;
		@include adaptiveValue("margin-bottom", 80, 40);
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$mobile){
			display: block; 
		}
	}
	&__column {
		color: $colorblack;
		letter-spacing: rem(0.1875);
		// .story__column_info
		&_info {
			flex: 0 1 43.08%;
			@media (max-width:$mobile){
				flex: 1 1 100%; 
			}
		}
		// .story__column_image
		&_gallery {
			flex: 0 1 48.94%;
			@media (max-width:$mobile){
				flex: 1 1 100%; 
			}
		}
	}
		// .story__column-title
	&__column-title {
			font-size: rem(20);
			line-height: math.div(23, 20);
			@include adaptiveValue("margin-bottom", 30, 15);
			font-weight: 700;
			span {
				color: $blue;
			}
		}
	// .story__column-text
	&__column-text {
		line-height: math.div(23, 13);
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 13, 16);
			@include adaptiveValue("line-height", 23, 20);
			@include adaptiveValue("margin-bottom", 30, 30);
		}
	}
}

.gallery {
	// .gallery__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-10);
		align-items: center;
	}
	// .gallery__column
	&__column {
		flex: 0 1 33.333%;
		padding: 0;
		position: relative;
		padding: 0 rem(10);
		gap: rem(20);
		padding-bottom: rem(20); 
		@media (max-width:$mobile){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 50%;
		}
		@media (max-width:$mobileSmall){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 100%; 
		}		
	}
	// .gallery__block
	&__block {
	}
}

.block-works {
	position: relative;
	width: 100%;
	text-align: center;
	// .block-works__image
	&__image {
		width: 100%;
	}
	// .block-works__middle
	&__middle {
		max-width: rem(108);
		@include adaptiveValue("width", 108, 10);
		position: absolute;
		top: rem(15);
		left: rem(14);
		text-align: start;
	}
	// .block-works__title
	&__title {
		color: #fff;
		@include adaptiveValue("font-size", 24, 5);
		line-height: math.div(29, 24);
		font-weight: 600;
		letter-spacing: rem(0.1875);
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 54, 27);
		}
		@media (max-width:$mobileSmall){
			@include adaptiveValue("font-size", 54, 54);
		}
	}
}
/*========= finish about ================================*/
//========================================================================
/*========= start services ================================*/
.services {
	background-color: $sait;
	@include adaptiveValue("padding-top", 60, 30);
	@include adaptiveValue("padding-bottom", 40, 30);
	// .services__container
	&__container {
	}
	// .services__content
	&__content {
	}
	// .services__begins
	&__begins {		
		@include adaptiveValue("margin-bottom", 78, 40);
	}
	// .services__body
	&__body {
		// .services__body_card
		&_card {
		}
	}
}

.begins {
	display: flex;
	align-items: center;
	text-align: start;
	justify-content:space-between;
	@media (max-width:$mobileSmall){
		display: block;
		.begins__title {
			margin-bottom: rem(30);
		}
		.begins__desc {
			margin-bottom: rem(20);
		}
	}
	// .begins__title
	&__title {
		@include adaptiveValue("margin-right", 154, 0);
		&:after {
			content: "";
			position: absolute;
			left: 0;
			margin: 0 0 rem(-10) rem(0);
		}
	}
	// .begins__desc
	&__desc {
	//margin: 0 auto;
	max-width: rem(405);
	font-size: rem(11);
	line-height: math.div(19, 11);
	letter-spacing: rem(0.2);
	@include adaptiveValue("margin-right", 30, 20);
	}
	// .begins__button
	&__button {	
	}
}

.card {
	// .card__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-13.5);
	}
	// .card__column
	// .services__column
	&__column {
		position: relative;
		padding: 0 13.5px;
		flex: 0 1 33.333%; /*запрещаем увеличиваться, разрешем уменьшаться, устанвливаем одинаковую ширину*/
		display: flex; /*колонки становятся одинаковые по высоте - по самой высокой*/
		padding-bottom: rem(20); 
		@media (max-width:$mobile){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 50%;
		}
		@media (max-width:$mobileSmall){
			margin: 0 auto;
			max-width: rem(350);
			flex: 0 1 100%; 
		}
	}
	// .services__item
	&__item {
		display: block;
		box-sizing: border-box;
		margin: 0 auto;
		background: #FFFFFF;
		border: 1px solid #E6E6E6;
		color: #48555B;
		padding: rem(38) rem(22);
	}
	// .services__icon
	&__icon {
		max-width: rem(62);
		max-height: rem(71);
		margin-bottom: rem(25);
		display: flex;
		text-align: center;
		justify-content: center;
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .services__subtitle
	&__subtitle {
		font-size: rem(16);
		line-height: math.div(24, 16);
		letter-spacing: rem(0.426667);
		font-weight: 700;
		margin-bottom: rem(13);
	}
	// .services__text
	&__text {
		flex: 1 1 auto; /*чтобы прибить кнопку к низу позволим блоку с текстом увеличиваться*/
		font-size: rem(13);
		line-height: math.div(23, 16);
		letter-spacing: rem(0.1875);
	}
}
/*========= finish services ================================*/
//======================================================================
/*========= start contacts ================================*/
.work {
	position: relative;
	margin: 0 auto;
	// .contacts__foto
	&__foto {
		position: relative;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		position: relative;
		background-repeat: no-repeat;
		text-align: center;
	}
	// .contacts__image
	&__image {
		width: 100%;
	}
	// .contacts__text
	&__text {
		position: absolute;
		max-width: rem(350);
		width: 100%;
		left: 50%;
		top: 35%;
		transform: translate(-50%, -35%);
		@include adaptiveValue("top", 35%, 15%);
	}
	// .contacts__title
	&__title {
		text-align: center;
		font-weight: 700;
		color: $colorblack;
		//margin-bottom: rem(55);
		line-height: math.div(36, 30);
		letter-spacing: 0.05em;
		@include adaptiveValue("font-size", 30, 18);
		margin-bottom: rem(35);
		@include adaptiveValue("margin-bottom", 35, 10);
	}
	// .contacts__buttons
	&__buttons {
	}
	// .contacts__button
	&__button {
		display: inline-block;
		font-size: rem(13);
		line-height: math.div(15, 13);
		letter-spacing: 0.5px;
		color: $white;
		background-color: $blue;
		padding: rem(11) rem(29);
		border: rem(1) solid $blue;
		transition: background-color 0.3s ease 0s;
		&:hover {
			background-color: #04b7fe;
			font-weight: 500;
		}
		@include adaptiveValue("font-size", 20, 10);
		@media (max-width: $mobileSmall) {
		}
	}
}
/*========= finish services ================================*/
//===============================================================
/*========= start info ================================*/

/*========= finish info ================================*/